# Streamlit
streamlit>=1.32

# Core
numpy>=1.24
pandas>=2.0
scikit-learn>=1.3
pillow>=10.0
tqdm
joblib

# OCR
paddleocr
paddlepaddle>=3.2.2
opencv-contrib-python==4.10.0.84
pyclipper
shapely

# Torch
torch
torchvision

# VietOCR dependencies
einops==0.2.0
gdown==4.4.0
prefetch-generator==1.0.1
imgaug==0.4.0
albumentations==1.4.2
lmdb>=1.0.0

# Python 3.13 compatibility
setuptools<70.0.0

# OCR dependencies
easyocr>=1.7